* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar {
    height: 100%;
    border-right: 1px solid #eee;
}

.sidebar-menu {
    padding: 1rem;
    background-color: #fff;
    margin: 0;

}

.card {
    border-radius: 1rem;
    background-color: white;
}

.content-container {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    margin: 1.5rem;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        padding: 1rem;
        border-radius: 1rem;
        background-color: #eee;
        text-decoration: none;

        h3 {
            color: #008c05;
            font-size: 0.8rem;
        }

        p {
            color: #737373;
            font-size: 0.75rem;
        }
    }
}

.main-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1.4rem;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.8rem;
    flex-wrap: wrap;

    .input-field {
        width: 15rem;
        margin: 0.6rem;
    }
}

.last-usage {
    padding: 0.8rem;

    .title {
        display: flex;
        gap: 0.4rem;
        align-items: center;
        margin: 0;
    
        img {
            padding-top: 0.1rem;
            width: 1rem;
        }
    }

    .content {
        label {
            color: #848484;
            font-size: 0.875rem;
        }
    }
}

.period {
    padding: 0.8rem;
    display: flex;
    gap: 2rem;
}

.table-headers {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

table {
    width: 60%;
    text-align: left;
    border-radius: 1rem;
    border: 1px solid #eee;

    tr {
        border-radius: 1rem;
    }

    td {
        height: 1rem;
        padding: 1rem;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

}